/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: #040718;
  color: #fff;
}

h1 {
  color: #ffffff;
  font-size: 24px;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  margin: 10px auto 0;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-70deg,#a2facf,#64acff);
  background-clip: text;
  -webkit-background-clip: text;
}

.main-app {
  text-align: center;
  margin: 100px;
}

.banner-img {
  margin-bottom: 16px;
}

.banner-img img {
  max-height: 250px;
  max-width: 100%;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.mint-nft-button {
  background: orange;
}

.os-button {
  background-color: #1868b7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 0px auto 36px;
  padding: 10px 20px;
}

.os-button a {
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 25px;
  display: block;
}

.footer p {
  line-height: 27px;
  text-align: center;
}

.footer span {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(
-70deg,#f374ff,#ff9f64);
  background-clip: text;
  -webkit-background-clip: text;
}

.loading_content {
  margin: 0 auto;
}
